<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Profissional</title>
</head>
<body>
    
    <br>
    <br>
    <br>
    <h3 align="center"> Encontre profissionais perto de você</h1>
    <br>
    <br>
    <div align="center">
        <form action="/" method="GET">
            <div>
                <select style="" class="input-2" name="filtro">
                    <option selected>Opções de filtragens</option>
                    <option value="1">Nome Prestador</option>
                    <option value="2">Profissão</option>
                </select>
                <br>
                <br>
                <input  class="col-xs-10 col-md-4" name="pesquisar" type="text" placeholder="Exemplo: eletricista, pedreiro, bombeiro" aria-label="Search"/>
                <br>
                
                <br>
                <input class="input-2" type="submit" value="Pesquisar"/>
            </div>
        </form>
    </div>
    
    {{!-- <div align="center">
         <div class="area-grid">
        <div class="grid-card">
            
            <h5>teste</h5>
            <form action="/clube/associado/{{this.id}}/agendamento/save" method="post">
                <input type="hidden" name="areasComuns" value="{{this.id_areas_comuns}}" />
                <ul class="form-items">  
                    <li>teste</li>
                </ul>
                <div class="divider"></div>
                <div class="input-box">
                    <label for="data">Selecione uma data</label>
                    <input id="data" type="date" name="data" >
                </div>
                <button type="submit" class="btn-submit">Cadastrar</button>
            </form>
            
        </div>
    </div> --}}

</body>
</html>