<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Profissional</title>
</head>
<body>
    
    <br>
    <br>
    <br>
    <h3 align="center"> Encontre profissionais perto de você</h1>
    <br>
    <br>
    <div align="center">
        <form action="/" method="GET">
            <div>
                <select style="" class="input-2" name="filtro">
                    <option selected>Opções de filtragens</option>
                    <option value="1">Nome Prestador</option>
                    <option value="2">Profissão</option>
                </select>
                <br>
                <br>
                <input  class="col-xs-10 col-md-4" name="pesquisar" type="text" placeholder="Exemplo: eletricista, pedreiro, bombeiro" aria-label="Search"/>
                <br>
                
                <br>
                <input class="input-2" type="submit" value="Pesquisar"/>
            </div>
        </form>
    </div>
    <br>
    <div align="center">
        {{#if status}}
            <main>
                {{#each prestadores}}
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{this.nome}}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                        <li>Profissão: {{this.[profissaos.descricao]}}</li>
                        <li>Contato: {{this.contato}}</li>
                        </ul>
                        <a href="/login" type="button" class="w-100 btn btn-lg btn-outline-primary" >Contratar</a>
                    </div>
                    </div>
                </div>
                {{/each}}
            </main>
        {{/if}}
    </div>
</body>
</html>