<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <br>
    <br>
    <h3 align="center"> Encontre profissionais perto de você</h1>
    <br>
    <br>
    <div align="center">
        <form action="/" method="GET">
            <div>
                <select style="" class="input-2" name="filtro">
                    <option selected>Opções de filtragens</option>
                    <option value="1">Nome Prestador</option>
                    <option value="2">Profissão</option>
                </select>
                <br>
                <br>
                <input  class="col-xs-10 col-md-4" name="pesquisar" type="text" placeholder="Exemplo: eletricista, pedreiro, bombeiro" aria-label="Search"/>
                <br>
                
                <br>
                <input class="input-2" type="submit" value="Pesquisar"/>
            </div>
        </form>
    </div>

</body>
</html>