<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes Prestador</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        
        </a>
        <div align="center">
            <a class="navbar-brand" href="/homeCliente">Find Profissional</a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/homeCliente/perfil" class="nav-link px-2 link-secondary">Perfil</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Histórico de Contratações</a></li>
            <li><a href="/homeCliente" class="nav-link px-2 link-dark">Voltar</a></li>
        </ul>
        
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"></ul>
        <div class="col-md-3 text-end">
            <a type="button" class="btn btn-danger my-2 my-sm-0" href="/logout">Sair</a>
        </div>

    </header> 
    <div align="center">
        <h1>Prestadores</h1>
    </div>
        <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Contato</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Data de Cadastro</th>

        </tr>
        <tbody>
        {{#with prestador}}
        <tr>
            <th>{{nome}}</th>
            <th>{{sobrenome}}</th>
            <th>{{contato}}</th>
            <th>{{[endereco.bairro]}}</th>
            <th>{{[endereco.cidade]}}</th>
            <th>{{[endereco.estado]}}</th>
            <th>{{createdAt}}</th>
            <th>
        </th>
        </tr>
        {{/with}}
        </tbody>
        </table>
    
</body>
</html>